<footer>
    <!-- Icon Section -->
    <div class="icon-section">
        <div>
            <i class="fas fa-info-circle" id="img-icon"></i>
            <div class="line"></div>

            <h5 class="mt-4">About</h5>
            <p>Learn more about our website, team, and purpose.</p>
            <ul>
                <li><a routerLink="/home" fragment="about">About</a></li>
                <li><a routerLink="/home" fragment="services">Services</a></li>
                <li><a routerLink="/home" fragment="testimonies">Testimonies</a></li>
            </ul>
            
        </div>
        <div>
            <i class="fas fa-link" id="img-icon"></i>
            <div class="line"></div>

            <h5 class="mt-4">Quick Links</h5>
            <p>Navigate easily to our key pages with quick links.</p>
            <ul>
                <li><a routerLink="contact">Contact Us</a></li>
                <li><a routerLink="popularcourse" >Courses</a></li>
                <li><a routerLink="faq">Help</a></li>
            </ul>
          
        </div>
        <div>
            <i class="fas fa-share-alt" id="img-icon"></i>
            <div class="line"></div>

            <h5 class="mt-4">Follow Us</h5>
            <p>Connect with us on social media and stay updated.</p>
            <ul>
                <li><a href="https://x.com/?lang=en&mx=2"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
          
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>© 2024 Copyright: Website designed and developed by Chaithra</p>
    </div>
</footer>



