/* Minimal custom styles */


.container {
  
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* gap: 15px;  */
    /* Minimal gap between content and video */
}

/* 
video {
    max-width: 100%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
} */
