<div class="container-fluid text-white bg-dark py-4" id="aboutSection">
    <h2 class="text-center mb-5">About TechTrek-Academy</h2>
  
    <div class="container">
      <div class="row align-items-center">
        <!-- Text Content -->
        <div class="col-md-6">
          <p>
            At TechTrek Academy, we go beyond conventional learning management; we're passionate educators.
            Established in 2021, our mission is to transform your educational aspirations into engaging and effective learning experiences.
          </p>
          <p>
            Join us in fostering a culture of knowledge and creativity.
            Every learner is distinct, and so is their educational journey.
            Begin this inspiring journey with TechTrek Academy, where education is celebrated, and potential is unleashed.
          </p>
        </div>
        <!-- Video -->
        <div class="col-md-6 text-center">
          <video id="aboutVideo" width="400" height="200" [src]="video1" muted>
            Browser not supported.
          </video>
        </div>
      </div>
    </div>
  </div>
  









