.container {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease-out;
}

.content.animate {
    animation: moveToCenter 1.5s ease-in-out forwards;
}

@keyframes moveToCenter {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}