.main-container {
  /* background-color: #e3e7ee;
   */
  /* background-color:rgba(186,237,220,255); */
   /* #f4f4f9; */
   background-color: #eff1f3;

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

mat-icon {
  color: #1da818;
}

.container {
  width: 90%;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1da818;
}

@media (max-width: 767.98px) {

  /* Target screens smaller than md */
  .column-with-line::after {
    display: none;
    /* Hide the line on small screens */
  }
}


input,
select {
  padding: 10px;
  border: 1px solid #777676;
  border-radius: 50px;
}

input:focus,
select:focus {
  border-color: rgb(29, 168, 24);
  box-shadow: 0 0 4px rgb(29, 168, 24);
}

.alert {
  color: red;
  font-size: 0.9em;
}

.contact-info .address h3 {
  margin-top: 0;
}

.map iframe {
  border-radius: 8px;
}



.column-with-line {
  position: relative;
}

.column-with-line::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #b6afaf;
 
}