<div class="container-fluid p-2">
  <h2 class="text-center">Our Popular Courses</h2>
  <div class="course-container p-4">
    <div *ngFor="let course of filteredCourses" class="course-card mat-elevation-z3">
      <img [src]="course.image" alt="{{ course.title }}" class="course-image" />
      <div class="course-details">
        <h3>{{ course.title }}</h3>
        <p class="course-author">
          <mat-icon>school</mat-icon> {{ course.author }}
        </p>
        <div class="course-rating">
          <mat-icon color="warn">star</mat-icon> {{ course.rating }}
        </div>
       
        <div class="course-meta">
          <span class="price">${{ course.price }}</span>
          <button class="gradient-btn" (click)="enroll(course.title)">
            Enroll
          </button>
          <!-- <span class="points">Vacation Points: {{ course.points }}</span> -->
         
        </div>
      </div>
    </div>
  </div>
  
</div>








