<h2 class="text-center mb-3 mt-4">Our Services</h2>
<p class="text-center text-muted mb-4">We provide top notch services and courses</p>

<div class="container">
<div class="row text-center">
    <div class="col-lg-4 mb-4 mb-md-0">
        <h4>Personalized learning
        </h4>
        <p class="text-muted">
            Let TechTrek guide you through a tailored learning experience. From course selection to progress tracking, our
            comprehensive service ensures a smooth and enriching educational journey.
        </p>
    </div>

    <div class="col-lg-4 mb-4 mb-md-0">
        <h4>Interactive content creation
        </h4>
        <p class="text-muted">Elevate your learning environment with our Interactive Content service. From engaging videos to immersive
            quizzes, we design a stimulating atmosphere that aligns with your unique learning style.</p>
    </div>

    <div class="col-lg-4  mb-4 mb-md-0">
        <h4>Support and feedback </h4>
        <p class="text-muted">Experience continuous improvement with our Support and Feedback service. From real-time assistance to
            constructive evaluations, trust us to enhance your learning experience with care and precision.</p>
    </div>
    </div>