   .forgot-password-container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
     background-color: #e4e7ec;
   }

   .forgot-password-card {
     background: #fff;
     padding: 30px;
     border-radius: 12px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
     max-width: 400px;
     width: 100%;
   }

   h2 {
     margin-bottom: 10px;
     color: #1da818;
   }

   .instruction {
     font-size: 14px;
     color: #666;
     margin-bottom: 20px;
   }

   .form-group {
     text-align: left;
     margin-bottom: 15px;
   }

   label {
     font-weight: bold;
     display: block;
     margin-bottom: 5px;
   }

   input {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 6px;
     font-size: 16px;
   }

   input:focus {
     border-color: rgb(29, 168, 24);
     box-shadow: 0 0 4px rgb(29, 168, 24);
   }

   button {
     width: 100%;
     border-radius: 6px;
     transition: 0.3s ease;
   }


   .error-message {
     color: red;
     font-size: 12px;
     margin-top: 5px;
   }