/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.gradient-btn {
    background: linear-gradient(to bottom, #d6cc04, #29bd04);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.gradient-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.gradient-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    /* Indicate the button is not clickable */
    box-shadow: none;
    /* Remove shadow for a flat look */
}


